{% extends 'enroll/base.html' %}{% load static %}
{% block content %}
<!-- <h1 class="text-center bg-success">Heloo coder I am from add show</h1> -->
<!-- <img src="{% static 'enroll/images/img1.avif' %}" alt> -->
 
<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center alert alert-info">Add New Student</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Add">
        </form>
    </div>
{% endblock content %}
